@*
    /*
    //  Student Name: Jabin Choi
    //  Student ID: 300974443
    //  Sec: 008
    //  Date: 28th Nov, 2018
    //  Title: Assignment 04
    */
*@

<h2>Thanks!</h2>
<p>Thanks for placing your order.</p>
<p>We'll ship your goods as soon as possible.</p>