@*
    Student Name: Jabin Choi
    Student ID: 300974443
    Sec: 008
    Date: 28th Nov, 2018

    Title: Assignment 04
*@


@model IEnumerable<string>

<a class="btn btn-block btn-primary"
   asp-action="List"
   asp-controller="Product"
   asp-route-category="">
    Home
</a>
@foreach (string category in Model)
{
    <a class="btn btn-block
    @(category == ViewBag.SelectedCategory ? "btn-secondary": "btn-primary")"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@category"
       asp-route-productPage="1">
        @category
    </a>
}
