@*
    /*
    //  Student Name: Jabin Choi
    //  Student ID: 300974443
    //  Sec: 008
    //  Date: 28th Nov, 2018
    //  Title: Assignment 04
    */
*@


@model Cart


<div class="">
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart fa-2x" style="margin-right:15px"></i>
    </a>
</div>